.progress > h1 {

    margin-top: 15vh;
}



.progress-box,
.last-line {
    border-right: 5px solid black;
    border-left: 5px solid black;
    border-top: 5px solid black;
    z-index: 0;
    width: 80vw;
}



.other-info {
    display: none;
    margin-bottom: -15px;
}

.progress {
    margin-bottom: 100px;
    overflow-y: hidden;
}

h3,
.other-info > p {
    margin: 0px;
    margin-bottom: 15px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
}

.date:hover,
.date:hover + .other-info,
.other-info:hover + .date {
    background-color: #F6B484;
}

h3 {
    text-align: center;
    width: 100%;
    font-size: 30px;
    user-select: none;
}

p {
    font-size: 24px;
    margin: 5px;
}

#madeVisible {
    display: block;
}


